.THIS {
}

.THIS header {
    margin-bottom: 4px;
}

.THIS header h2{
	font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    max-width:100rem;
}

.THIS fieldset {
    border:1px solid rgb(222, 226, 229);
    border-radius: 3px;
    background-color:rgb(244, 246, 249);
    max-width:100rem;
}

.THIS header h2 {
    font-size:18px;
    height:32px;
    margin-top:8px;
    line-height: 32px;
    color:rgb(22, 50, 92);
    transition: all 0.3s ease-in;
}

.THIS div.noItemsText {
    padding: 32px;
	font-weight: 400;
    font-size: .8125rem;
    color: rgb(112, 110, 107);
    width: 100%;
    text-align: center;
}

.THIS div.hide-input label{
    display:none;
}

.THIS div.reduce-button-padding button {
    padding-left:.250rem;
    padding-right:.250rem;
}

.THIS div.input-checkbox input{
    margin:auto;
    border:1px solid rgb(234,113,36);
}

.THIS div.input-checkbox input:checked{
    margin:auto;
    background-image: -webkit-linear-gradient(bottom, rgb(234,113,36) 0%, rgb(234,113,36) 100%);
    background-color: rgb(234,113,36);
    border:1px solid rgb(234,113,36);
}

.THIS button.styled-button {
    background-color:rgb(234,113,36);
    border-color:rgb(234,113,36);
}

.THIS button.styled-button_text {
    color:rgb(234,113,36);
}

.THIS div.paging-button {
    background-color:rgb(234,113,36);
    border-radius:.25rem;
    text-align:center;
    height:40px;
    width:40px;
    position: relative;
}

.THIS div.paging-button button {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.THIS div.paging-button button.rotate span svg{
	transform: rotate(180deg);
}

.THIS div.extras_modal {
    text-align:center;
}

.THIS .no-border {
    border: 0px;
}

.THIS.top-search svg.slds-button__icon {
    color: rgb(234,113,36);
    width: 1.2rem;
    height: 1.2rem;
}

.THIS.top-search button {
    margin-top: 5px;
}

.THIS .search-container label {
    display: none;
}

.THIS div.slds-pill_container {
    border:none;
}