.THIS {
    font-size:12px;
}

.THIS span.slds-text-heading_small {
	font-weight:550;
}

.THIS p.no-wrap-overflow, .THIS div.no-wrap-overflow, .THIS span.no-wrap-overflow {
	padding:8px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.THIS div.slds-dropdown {
    max-height:36px;
}

.THIS .slds-dropdown__item {
    line-height: 1;
}